/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- -Main Card- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
.card_V2{
padding: 2.5rem;

border: 0.2rem solid #191a21;
border-radius: 1.5rem;

display: grid;
gap: 2.5rem;
grid-template-columns: min-content 1fr min-content;
grid-template-areas:

    'P1 P2 P3'
    'P4 P4 P5'

;

background-color: #101116;
}

.card_V2:hover{
    background-color: #151515;
    }

.cardP1{
    grid-area: P1;

    justify-self: start;
}
.cardP2{
    justify-self: start;
    grid-area: P2;
}
.cardP3{
    grid-area: P3;

    justify-self: end;
}
.cardP4{
    grid-area: P4;
}
.cardP5{
    grid-area: P5;

    justify-self: end;
}
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- -Main Card- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/




/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- -Card Text- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
.card_Title_V2{
    font-family: 'NunitoBold';
    font-size: 1.8rem;

    align-self: center;
}

.cardText{
    flex-grow: 1;

    font-family: 'NunitoBold';
    font-size: 1.2rem;
    line-height: 2rem;
}
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- -Card Text- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/




/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- Card Image- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
.cardIncludes{
    border: 0.2rem solid #1e1e1e;
    border-radius: 1.5rem;
}
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- Card Image- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/




/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- -- OPT-- -- -- -- -- -- -- -- -- --*/
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/

@media all and (max-width: 1175px){
    
}