header {
    grid-column: 2;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

#headerCon1 {
    display: grid;
    grid-template-columns: minmax( 14.75rem , 41.875rem ) minmax( 3.125rem , 11.6rem );
    gap: 18px;
}





/* SEARCHBAR */
#searchbar {
    border-radius: 24px;

    background-color: var(--mC_dM_1);

    display: flex;
    flex-direction: row;
}

#searchfield {
    flex-grow: 1;
    padding: 0px 18px;

    font-size: 14px;

    color: var(--mC_dM_4);
    background: none;
}
#searchfield:focus {
    outline: none;
}


#searchButton {
    margin: 4px;
    padding: 10px 18px;

    border-radius: 2rem;

    background: none;

    display: grid;
    place-items: center;
}

#searchButton:hover {
    cursor: pointer;
    background-color: hsla(214 14% 90% / 15%);
}





/* CALL TO ACTION  */
.callToAction {
    border-radius: 2rem;

    font-size: 0.875rem;
    font-family: 'poppins-medium';

    color: var(--mC_dM_4);
    background-color: var(--mC_dM_5);

    display: grid;
    place-items: center;
}





/* OPTION CONTAINER  */
.optionsCon {
    flex-grow: 1;

    padding: 0.4rem 1.2rem;

    border-radius: 2rem;

    font-size: 0.875rem;

    color: var(--mc4);
    background: none;
}

.optionsCon:hover {
    cursor: pointer;
    background-color: hsla(214 14% 90% / 15%);
}

.optionsCon:focus {
    color: var(--mc4);
    background: var(--mC_dM_2);
}





/* INFO TEXT  */
.infoText {
    padding: 0.4rem;

    font-size: 0.875rem;

    color: var(--mC_dM_4);
}





/* DEVIDER  */
.devider {
    aspect-ratio: 1 / 1;
    width: 0.25rem;

    border-radius: 0.25rem;

    background-color: var(--mC_dM_5);
}




/* CONTENT FEED  */
.contentFeed {
    grid-column: 2;

    display: flex;
    flex-direction: column;
    gap: 18px;
}





/* CARD  */
.card {
    padding: 24px;

    border-radius: 24px;

    background-color: var(--mC_dM_1);

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cardUsername {
    font-size: 0.875rem;
    color: var(--mC_dM_3);
}

.cardInfoText {
    flex-grow: 1;
    text-align: right;

    font-size: 0.75rem;
    color: var(--mC_dM_3);
}

.cardTitleText {
    font-family: 'poppins-semibold';
    color: var(--mC_dM_4);
}

.cardContentText {
    font-size: 0.875rem;

    line-height: 1.5rem;

    color: var(--mC_dM_4);
}





.hotlinkBut {
    padding: 8px 18px;

    border-radius: 22px;

    color: var(--mC_dM_4);
    background-color: var(--mC_dM_1);
}