.infoSection {
    grid-column: 2;
    display: flex;
}

.infoSectionHeader {
    padding: 18px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.infoTitle {
    font-size: 28px;
    color: var(--mc4);
}

.infoDes {
    font-size: 16px;
    color: var(--mc4);
}

.infoImg {
    flex: 1;
    aspect-ratio: 1/1;
    width: 100%;
}

@media screen and (max-width: 600px) {

    .infoSection {
        flex-direction: column;
    }
    
    .sectionReverse {
        flex-direction: column-reverse;
    }

}