/* variables */
:root {
    /* Main colors (Greyscale)*/
    --mainColor_95: hsl(0 0% 95%);
    --mainColor_85: hsl(0 0% 85%);
    --mainColor_50: hsl(0 0% 50%);
    --mainColor_25: hsl(0 0% 25%);
    --mainColor_10: hsl(0 0% 10%);

    /* Main colors (Dark mode)*/
    --mC_dM_1: hsl(210 12% 6%);  /* Main element Color */
    /* --mC_dM_2: hsl(230 14% 12%); Background Color only! */
    --mC_dM_2: hsl(225, 6%, 37%); /* Background Color only! */
    --mC_dM_3: hsl(216 5% 60%);  /*Warm grey*/
    --mC_dM_4: hsl(214 14% 90%); /*Almost white*/
    --mC_dM_5: hsl(258 66% 46%); /*Acient color*/
}


@font-face {
    font-family: 'poppins-light';
    src: url(includes/fonts/poppins/Poppins-Thin.ttf);
}

@font-face {
    font-family: 'poppins';
    src: url(includes/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'poppins-medium';
    src: url(includes/fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'poppins-semibold';
    src: url(includes/fonts/poppins/Poppins-SemiBold.ttf);
}



body {
    background-color: var(--mC_dM_2);

    display: grid;
    grid-template-columns: 1fr minmax( 18.5rem , 57.5rem ) 1fr;
    gap: 18px;
}




/* Element text */
.elemText {
    font-size: 0.875rem;
    font-family: 'poppins-medium';
}
/* Card title */
.titleText {
    font-size: 1rem;
}
/* infoText */
.elemText {
    font-size: 0.625rem;
}
/* usernameText */
.elemText {
    font-size: 0.75rem;
}



/* ::selection {
    color: var(--mC_dM_4);
    background-color: var(--mC_dM_5);
} */




* {
    margin: 0%;
    padding: 0%;

    border: none;

    text-decoration: none;
    font-family: 'poppins';
    letter-spacing: 0.25px;
}




/*Flex containers*/
.verticalCon {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.verticalWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.horizontalCon {
    display: flex;
    flex-direction: column;
    gap: 8px;
}




/*New Navbar*/
nav {
    top: 0rem;
    position: sticky;

    grid-column: 1 / span 3;

    display: grid;
    grid-template-columns:minmax( 3.125rem , 11.6rem ) 1fr minmax( 15.625rem , 50rem ) 1fr minmax( 3.125rem , 11.6rem );

    background-color: var(--mC_dM_1);
}

#navButCon {
    grid-column: 3;
    width: fit-content;

    display: grid;
    grid-template-columns:repeat(5, minmax( 3.125rem , 11.6rem ));
}

#navButCon  a {
    display: grid;
    place-content: center;
}

#navButCon  a:hover {
    background: linear-gradient(0deg, var(--mC_dM_5) 0%, var(--mC_dM_5) 10%, var(--mC_dM_1) 10%);
}

#navRight {
    grid-column: 5;
    height: 3.125rem;
    justify-self: right;
}

#navPfp {
    aspect-ratio: 1 / 1;
    width: 2rem;
    margin: 0.563rem;

    border-radius: 2rem;
    background-color: var(--mC_dM_3);
}

.navText {
    padding: 0.781rem;

    font-size: 14px;

    color: var(--mC_dM_4);
}

.navTextLogo {
    font-family: 'poppins-semibold';
    color: var(--mC_dM_4);
}


.navIcon {
    display: none;

    aspect-ratio: 1 / 1;
    width: 2rem;
    margin: 0.563rem;

    border-radius: 2rem;
    background-color: var(--mC_dM_3);
}





.smallIcon{
    aspect-ratio: 1/1;
    width: 24px;
}

.loginBut {
    display: flex;
    align-content: center;
    gap: 10px;

    padding: 0px 12px;
}
.loginBut:hover {
    cursor: pointer;
}







@media screen and (max-width: 800px) {

    .navText {
        display: none;
    }
    
    .navIcon {
        display: block;
    }

}