/* variables */
:root {
    /* Main colors (Greyscale)*/
    --mainColor_95: hsl(0 0% 95%);
    --mainColor_85: hsl(0 0% 85%);
    --mainColor_50: hsl(0 0% 50%);
    --mainColor_25: hsl(0 0% 25%);
    --mainColor_10: hsl(0 0% 10%);

    /* Main colors (Dark mode)*/
    --mC_dM_1: hsl(210 12% 6%);  /* Main element Color */
    /* --mC_dM_2: hsl(230 14% 12%); Background Color only! */
    --mC_dM_2: hsl(225, 6%, 37%); /* Background Color only! */
    --mC_dM_3: hsl(216 5% 60%);  /*Warm grey*/
    --mC_dM_4: hsl(214 14% 90%); /*Almost white*/
    --mC_dM_5: hsl(258 66% 46%); /*Acient color*/


    /* colors */
    /* element color  */
    --mc1: hsl(210 12% 6%);
    --mc2: hsl(230 14% 12%);

    /* text color */
    --mc3: hsl(0 0% 95%);
    --mc4: hsl(0 0% 85%);
}


@font-face {
    font-family: 'poppins';
    src: url(includes/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'poppins-medium';
    src: url(includes/fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'poppins-semibold';
    src: url(includes/fonts/poppins/Poppins-SemiBold.ttf);
}


body {
    background-color: var(--mc1);

    display: grid;
    grid-template-columns: 1fr minmax( 320px , 1200px ) 1fr;
    gap: 18px;
}


* {
    margin: 0%;
    padding: 0%;
    border: none;
    text-decoration: none;
    font-family: 'poppins';
    letter-spacing: 0.25px;
}


nav {
    top: 0px;
    position: sticky;
    grid-column: 1 / span 3;
    padding: 8px 18px;
    background-color: var(--mc1);
    display: flex;
}

.navCon {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.navBut {
    padding: 6px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}
.navBut:hover {
    background-color: hsl(258, 91%, 69%);
}

.navText {
    margin: 0px 6px 0px 8px;
    font-family: 'poppins-medium';
    font-size: 14px;
    color: var(--mc4);
}

.logoText {
    font-family: 'poppins-semibold';
}

#navPfp {
    aspect-ratio: 1/1;
    width: 40px;

    border-radius: 20px;
}

#navPfpBut {
    margin-left: 8px;
    display: flex;
}

.loginBut {
    background-color: hsl(258, 91%, 69%);
}





/*Flex containers*/
.verticalCon {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.verticalWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.horizontalCon {
    display: flex;
    flex-direction: column;
    gap: 8px;
}







@media screen and (max-width: 800px) {

    .navText {
        display: none;
    }
    
    .navIcon {
        display: block;
    }

}