/* searchbar */
.searchbar {
    height: 3.125em;
    padding-left: 25px;

    display: flex;
    justify-content: center;

    background-color: #101014;
}

.searchfield {
    width: 100%;

    border: none;
    outline: none;
}

.searchButton {
    display: grid;
    place-items: center;
}
.searchButton:hover {
    cursor: pointer;
    background-color: #FFFFFF25;
}