/* Buttons  */
.buttonType1 {
    padding: 0.75em 2.5em 0.75em 2.5em;

    border-radius: var(--size_100vh);

    display: grid;
    place-content: center;

    background: linear-gradient(45deg, rgba(41,82,112,1) 0%, rgba(82,65,117,1) 100%);
}

.buttonType1:hover {
    cursor: pointer;
}

.buttonType2 {
    padding: 0.75em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;

    border-radius: var(--size_100vh);

    background-color: #101014;
}

.buttonType2:hover {
    cursor: pointer;
    background-color: #FFFFFF25;
}




/* searchbar  */
.searchbar {
    flex-grow: 1;

    width: fill;
    min-height: 3.125em;
    padding-left: 25px;

    border-radius: var(--size_100vh);

    display: flex;
    justify-content: center;

    background-color: #101014;
}

.searchfield {
    width: 100%;

    border: none;
    outline: none;

    font-size: var(--size_14);

    color: #FFFFFF;
    background-color: #101014;
}

.searchButton {
    width: 75px;
    height: fill;
    margin: 5px;

    border-radius: var(--size_24);

    display: grid;
    place-items: center;

    background-color: #101014;
}

.searchButton:hover {
    cursor: pointer;
    background-color: #FFFFFF25;
}


/* Pill */
.pill {
    width: max-content;
    padding: 5px 10px;

    border-radius: var(--size_24);

    font-size: 12px;

    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 10px;

    color: #FFF;
    background-color: #4F545C75;
}

/* icon */
.icon {
    width: 1.4em;
    height: 1.4em;
}

.courseMark {
    width: 1em;
    height: 1em;

    border-radius: 1em;

    background-color: var(--PRRPRR);
}