/* Includes elements that apear often such as ( "Buttons" ) , ( "Searchbar" ) , ( "Ask a question - Button" ) , ( "Pills" ) , ( "Icons" ) */




/* ( "Searchbar" ) */

    .searchbarCon {

        width: fill;
        height: 5rem;
        padding-left: 2.5rem;

        border-radius: 2.5rem;

        display: flex;
        justify-content: center;

        box-shadow: 0rem 0rem 1.5rem var( --Shadow );
        background-color: var( --MainC2 );

    }

    .searchfield {

        width: 100%;

        border: none;

        font-size: 1.6rem;

        color: #FFFFFF75;
        background-color: var( --Trans );

    }

    .searchButton {

        width: 10rem;
        height: fill;
        margin: 0.5rem;

        border: none;
        border-radius: 2.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var( --Trans );
    }

    .searchButton:hover {

        background-color: var( --Highlight2 );
        cursor: pointer;

    }

/* ( "Searchbar" ) */




/* Blue button  */

    .blueButton {

        width: 17.5rem;
        height: 5rem;

        border: none;
        border-radius: 2.5rem;

        box-shadow: 0rem 0rem 1.5rem var( --Shadow );
        background-color: #0000008A;
        background-image: linear-gradient(45deg, var( --Purple ) , var( --Blue ) );

        text-align: center;

    }

    .blueButton:hover {

        cursor: pointer;
        background-color: var( --Highlight2 );

    }

/* Blue button  */