@font-face {

    font-family: 'poppins-regular';
    src: url(/style/includes/fonts_v3/Poppins-Regular.ttf);

}

@font-face {

    font-family: 'poppins-medium';
    src: url(/style/includes/fonts_v3/Poppins-Medium.ttf);

}

@font-face {

    font-family: 'poppins-semiBold';
    src: url(/style/includes/fonts_v3/Poppins-SemiBold.ttf);

}

:root {

    --mainColor_1: #17161B;
    --mainColor_2: #101014;
    --mainColor_3: #ffffff;

    --smallGap: 0.5rem;
    --mediumGap: 1.25rem;
    --largeGap: 1.875rem;

    /*
        Purpose: Sizes for the middle section of 
        the screen. Should be used in a grid.
    */
    --minWidth: 26.25rem;
    --maxWidth: 54.688rem;

}


* {

    margin: 0%;
    padding: 0%;

    border: none;
    outline: none;

    font-family: 'poppins-regular';

}


/*
    Navbar
*/

    /*
        Parent, controlls for all childs and background color.
    */
    nav {

        padding: var(--smallGap);

        background-color: var(--mainColor_2);

        display: grid;
        grid-template-columns: 1fr minmax(var(--minWidth), var(--maxWidth)) 1fr;
        gap: var(--smallGap);

    }

    /*
        Parent, controlls for all childs and background color.
    */
    .navCon {

        display: flex;
        flex-direction: row;
        gap: var(--smallGap);

    }

    /*
        Child
    */
    .navBut {

        flex-grow: 1;

        border-radius: 1.094rem;

        background-color: var(--mainColor_1);

        display: grid;
        place-items: center;

    }

    /*
        Child
    */
    .navIcon {

        display: none;

        background-color: var(--mainColor_1);

    }

    /*
        Child
    */
    .navText {

        padding: 0.438rem;

        color: var(--mainColor_3);

    }

/*
    Footer
*/

    /*
        Parent, controlls for all childs and background color.
    */
    footer  {

        padding: var(--largeGap);

        background-color: var(--mainColor_2);

        display: flex;
        flex-wrap: wrap;
        place-content: center;
        gap: var(--largeGap);

    }