.contentFeed {
    grid-column: 2;
}





/* forumCard */
.forumCard{
    min-width: fit-content;
    padding: 18px;
    border-radius: 22px;
    background-color: var(--mC_dM_1);
}

.fcUsername {
    font-size: 0.875rem;
    color: var(--mC_dM_3);

    display: flex;
}

.fcPFP {
    aspect-ratio: 1/1;
    width: 24px;
    border-radius: 12px;
}

.fcInfoText {
    flex-grow: 1;
    text-align: right;
    font-size: 0.75rem;
    color: var(--mC_dM_3);
}

.fcTitleText {
    font-family: 'poppins-semibold';
    color: var(--mC_dM_4);
}

.meta {
    width: max-content;
    padding: 0.125rem 0.75rem;
    border-radius: 2rem;
    
    font-size: 0.75rem;
    font-family: 'poppins-medium';
    color: var(--mC_dM_1);

    background-color: var(--mC_dM_3);

    display: grid;
    place-items: center;
}

.replyButton:hover {
    cursor: pointer;
}






.forumCard2 {
    padding: 1.25rem;
    border-radius: 1.5rem;
    background-color: var(--mC_dM_1);
    display: flex;
    flex-direction: row;
}





#pageInfo {
    color: var(--mainColor_25);
}




.verticalWrapReverse {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}





#addQuestionCard {
    padding: 24px;

    border-radius: 1.5rem;

    border: 0.125rem solid var(--mC_dM_5);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}

#formFotter {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

#postQuestionButton {
    align-self: flex-end;

    padding: 0.4rem 1.25rem;

    border-radius: 2rem;

    font-size: 0.875rem;
    font-family: 'poppins-medium';

    color: var(--mC_dM_4);
    background-color: var(--mC_dM_5);
}

#postQuestionButton:hover {
    cursor: pointer;
}

.formInput {
    width: 100%;
    min-height: 2rem;

    border-radius: 0.25rem;

    color: var(--mC_dM_4);
    background: none;

    resize: vertical;
}
.formInput:hover {
    background-color: hsla(214 14% 90% / 15%);
}

.formTitel {
    font-size: 1rem;
    font-family: 'poppins-semibold';
}

.formDescription {
    font-size: 0.875rem;
    font-family: 'poppins';
}





/* Forum question page, Titel for question and answers. */
.sectionHeader {
    margin: 1.24rem 0rem 0rem 1.25rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.sectiontitle {
    font-family: 'poppins-medium';
    color: var(--mC_dM_4);
}

#answerInput {
    flex-grow: 1;
    min-height: 2rem;

    resize: vertical;

    border-radius: 0.25rem;

    color: var(--mC_dM_4);
    background: none;
}
#answerInput:hover {
    background-color: hsla(214 14% 90% / 15%);
}

#answerQuestionCard {
    padding: 24px;

    border-radius: 1.25rem;

    border: 0.125rem solid var(--mC_dM_5);

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}