body {
    /* horizontal scroll tas bort på sidan
       gör animeringen mer smooth för att tabort
       frågor när man sorterar */
    overflow-x: hidden;
}

.contentFeed {
    grid-column: 2;
}

.replyButton:hover {
    cursor: pointer;
}

.verticalWrapReverse {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}





#addQuestionCard {
    padding: 18px;
    border-radius: 18px;

    background-color: #101014;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

#postQuestionButton {
    align-self: flex-end;

    padding: 0.4rem 1.25rem;

    border-radius: 2rem;

    font-size: 0.875rem;
    font-family: 'poppins-medium';

    color: #101014;
    background-color: #d9d9d9;
}

#postQuestionButton:hover {
    cursor: pointer;
}

.formInput {
    flex: 1;
    min-height: 2rem;
    padding: 4px 8px;

    border-radius: 0.25rem;

    color: #d9d9d9;
    background: none;

    resize: vertical;
}
.formInput:hover {
    background-color: hsla(214 14% 90% / 15%);
}
.formTitel {
    font-size: 1rem;
    font-family: 'poppins-semibold';

    color: #d9d9d9;
}

.formDescription {
    font-size: 0.875rem;
    font-family: 'poppins';

    color: #d9d9d9;
}

.formOptionsCon {
    color: #d9d9d9;
}
.formOptionsCon::focus {
    color: #d9d9d9;
}
.formOptionsCon::selection {
    color: #d9d9d9;
}

/* 
    Detta lägger till en placeholder till diven, se:
    https://css-tricks.com/auto-growing-inputs-textareas/ 
*/
.formDescription[contenteditable]:empty::before {
    content: "Enter a description";
    font-family: 'poppins';
    color: #6d6d6d;
  }

.formOption {
    color: #d9d9d9;
    background-color: --mc2;
}





/* Forum question page, Titel for question and answers. */
.sectionHeader {
    margin: 1.24rem 0rem 0rem 1.25rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.sectiontitle {
    font-family: 'poppins-semibold';
    color: #d9d9d9;
}

#answerInput {
    flex-grow: 1;
    min-height: 2rem;

    resize: vertical;

    border-radius: 0.25rem;

    font-size: 14px;

    color: #d9d9d9;
    background: none;
}
#answerInput:hover {
    background-color: hsla(214 14% 90% / 15%);
}

#answerQuestionCard {
    padding: 18px;

    border-radius: 1.25rem;

    background-color: #101014;

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

#questionCardFeed {
    grid-column: 2;
    /* min-height: 40vh; */

    display: grid;
    grid-template-columns: repeat(2, minmax(270px , 1000px));
    gap: 18px;
}

#body {
    grid-column: 2;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 18px;
}








.fcCon {
    /* flex: 1; */
    max-width: 100%;

    padding: 16px;

    border-radius: 16px;

    background-color: #101014;

    display: flex;
    flex-direction: column;
    gap: 10px;

    /* Behövs för animation av questionCard när de går ut */
    position: relative;
}

.fcElementCon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fcMeta {
    padding: 2px 8px;

    border-radius: 18px;

    font-size: 12px;
    font-family: 'poppins-medium';

    color: #101014;
    background-color: #d9d9d9;
}

.fcStatus {
    flex-grow: 1;

    font-size: 12px;

    text-align: right;
    font-family: 'poppins-semibold';

    color: #d9d9d9;
}

.fcContentTitle {
    /* font-size: 18px; */
    font-family: 'poppins-semibold';

    color: #d9d9d9;
}
.fcContentTitle:hover {
    text-decoration: underline;
}

.fcDes {
    color: #d9d9d9;
    font-family: 'poppins-medium';
    font-size: 14px;
}

.fcUserCon {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.fcUserPFP {
    border-radius: 12px;

    aspect-ratio: 1/1;
    width: 24px;
}

.fcUserName {
    font-size: 14px;

    color: #d9d9d9;
}

.fcContentDatetime {
    flex-grow: 1;
    text-align: right;

    font-size: 12px;

    color: #d9d9d9;
}

.callToAction {
    color: #d9d9d9;
}







#header {
    display: flex;
    gap: 18px;
}

#askQuestion {
    min-width: 144px;
    height: min-content;

    padding: 10px 18px;

    border-radius: 20px;

    font-size: 14px;
    font-family: 'poppins-medium';

    color: #101014;
    background-color: #d9d9d9;
}

#filterCon {
    flex-grow: 1;

    /* flex: 0.85; */
    /* border-radius: 18px; */

    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 10px;

    /* overflow-x: scroll; */
}
#filterCon::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
#filterCon {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.filterBut {
    min-width: max-content;
    padding: 4px 12px;
    border-radius: 10px;

    font-family: 'poppins-medium';
    font-size: 14px;

    color: #d9d9d9;
    background-color: #101014;
}
.filterBut:hover {
    cursor: pointer;
    color: #101014;
    background-color: #d9d9d9;
}









@media screen and (max-width: 690px) {

    #header {
        flex-direction: column;
    }
    
    #questionCardFeed {
        grid-column: 2;
    
        display: grid;
        grid-template-columns: repeat(1, minmax(270px , 1000px));
        gap: 18px;
    }

}