header {
    grid-column: 1/span 2;

    display: flex;
    gap: 18px;
}

#askQuestion {
    width: 152px;
}

#feed {
    grid-column: 2;

    display: grid;
    grid-template-columns: 152px 1fr;
    gap: 18px;
}

#questionCardFeed{
    grid-column: 2;
}

#filters {
    grid-column: 1;

    display: flex;
    flex-direction: column;
    gap: 4px;
}


/* CARDS */
#questoinForm {}

#addQuestionCard  {}


/* COURSES */
#selectedCourseContainer {
    grid-column: 1/span 2;
}

#selectedCourse {}