#contentFeed {
    grid-column: 2;

    padding: 1.125rem 0rem;

    min-height: 50vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}





.gameCard {
    aspect-ratio: 16/9;

    padding: 18px;
    border-radius: 18px;

    background-color: #101014;
    background: linear-gradient(0deg, rgba(16,16,20,1) 25%, rgba(42,69,75,0) 100%);

    display: flex;
    flex-direction: row;
    align-content: flex-end;
}


.gcThumbnail {
    flex: 1;
    min-width: 286px;
    height: max-content;

    border-radius: 18px;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-size: cover;
}

.Tetris2 {
    background-image: url(/public/img/gamesThumbnail/2Tetris_Joel_J.png);
}

.TicTacToe {
    background-image: url(/public/img/gamesThumbnail/tictactoe_Kirill_Y.png);
}

.DOU {
    background-image: url(/public/img/gamesThumbnail/defendarOfUkraine_Oleksandr_S.png);
}

.gcGameTitle {
    font-family: 'poppins-bold';
    font-size: 18px;
    color: #d9d9d9;
}

.gcMeta {
    font-size: 14px;
    color: #d9d9d9;
}

.gcPlay {
    align-self: flex-end;

    padding: 8px;

    border-radius: 12px;

    text-align: center;

    color: #d9d9d9;
    background-color: #101014;

    display: flex;
    gap: 8px;
}

#gcfooter {
    align-self: flex-end;

    flex-grow: 1;

    background: linear-gradient(0deg, rgba(16,16,20,1) 25%, rgba(42,69,75,0) 100%);

    display: flex;
    flex-direction: column;
}





#returnBtn {
    z-index: 1;
    position: absolute;

    aspect-ratio: 1/1;

    margin: 8px 0px 0px 8px;
    padding: 8px;

    height: 24px;

    border-radius: 42px;

    background-color: #101014;
}

#returnIcon {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
}