header {
    /* PLACEMENT/BEHAVIOR */
    grid-column: 1 /span 3;

    /* OWN PARAMETERS */
    padding: 8.875rem 0rem;
    background-color: #101014;

    /* CHILD PLACEMENT/BEHAVIOR */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainHero {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    font-family: 'poppins-black';
    font-size: 2.625rem;
    color: #d9d9d9;
}

#heroSub {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    font-family: 'poppins-italic';
    font-size: 1.125rem;
    color: #d9d9d9;
}




.infoSection {
    /* PLACEMENT/BEHAVIOR */
    grid-column: 2;

    /* OWN PARAMETERS */
    margin: 14rem 0rem;

    /* CHILD PLACEMENT/BEHAVIOR */
    display: flex;
    flex-direction: column;
}

.infoSectionTitle {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    font-size: 1.75rem;
    font-family: 'poppins-black';
    color: #101014;
}

.IST1 {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    margin:  0rem 0rem 1.125rem 12%;
}

.IST2 {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    align-self: flex-end;
    margin: 0rem 24% 1.125rem 0rem ;
}

.infoSectionContent {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    font-family: 'poppins-italic';
    text-align: center;
    color: #101014
}

#helpGradeless {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    margin-top: 1.125rem;
    text-align: center;
    font-size: 0.875rem;
    color: #d9d9d9;

    /* CHILD PLACEMENT/BEHAVIOR */
        /* Vigrin */
}
#helpGradeless:hover {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    text-decoration: underline;
    cursor: pointer;

    /* CHILD PLACEMENT/BEHAVIOR */
        /* Vigrin */
}





#contentFeed {
    /* PLACEMENT/BEHAVIOR */
    grid-column: 1 /span 3;

    /* OWN PARAMETERS */
    padding: 0rem 1.125rem;

    /* CHILD PLACEMENT/BEHAVIOR */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 72px;
    row-gap: 18px;
}

.infoCard {
    /* PLACEMENT/BEHAVIOR */
    aspect-ratio: 1/1;

    /* OWN PARAMETERS */
    padding: 4.5rem;
    max-width: 14rem;
    border-radius: 1.125rem;
    background-color: #101014;

    /* CHILD PLACEMENT/BEHAVIOR */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
}

.infoCardTitle {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    text-align: center;
    font-family: 'poppins-black';
    font-size: 1.5rem;
    color: #d9d9d9;
}

.infoCardIcon {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    aspect-ratio: 1/1;
    width: 2.5rem;
}

.infoCardContent {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    text-align: center;
    font-family: 'poppins-italic';
    color: #d9d9d9;
}





@media screen and (max-width: 690px) {
    
    .IST2 {
        margin: 0rem 0rem 1.125rem 0rem;
        align-self: center;
        text-align: center;
    }

}