.lazyMessage {
    text-align: center;
    color: var(--text);
}

.feed {
    margin: 0rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
}

.week {
    border: 1px solid var(--border);
    border-radius: 0.75rem 0.75rem 0rem 0rem;
}

.week p {
    padding: 0.625rem 0rem;
    text-align: center;
    font-size: 0.75rem;
    color: var(--text);
}

.day {
    padding: 1.25rem 1.5rem;

    border: 1px solid var(--border);
    border-width: 0px 1px 1px 1px;

    background-color: var(--primary);
}

.day:last-child {
    border-radius: 0rem 0rem 0.75rem 0.75rem;
}

.date {
    display: flex;
    justify-content: space-between;
}

.date p {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    color: var(--text-secondary);
}

.date .active {
    color: var(--main-color);
}

.content {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: var(--text);
}

.contentActive {
    margin-top: 0.25rem;
    padding-top: 0.25rem;
    border-top: 1px solid var(--main-color);
}

.content:last-child {
    margin-top: 0.5rem;
    padding-top: 0.25rem;
    border-top: 1px dashed var(--border);
}

.adminBtn {
    align-self: center;

    padding: 0.625rem 1.5rem;

    border-radius: 8px;
    border: 1px solid var(--border);

    font-size: 0.875rem;

    color: var(--text-secondary);
}

.adminBtn:hover {
    cursor: pointer;
    color: var(--text);
}