#contentFeed {
    grid-column: 2;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

.section {
    grid-column: 2;

    margin: 18px 0px 0px 18px;

    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 18px;
}

.sectionTitle {
    grid-column: 2;

    font-family: 'poppins-semibold';
    font-size: 18px;

    color: #d9d9d9;
}

.seactionMeta {
    height: min-content;
    padding: 4px 12px;

    border-radius: 18px;

    font-size: 14px;
    font-family: 'poppins-medium';

    color: #d9d9d9;
    background-color: #101014;

}

.foodCard {
    padding: 18px;

    border-radius: 18px;

    background-color: #101014;
}

.fcSection {
    display: flex;
    flex-wrap: wrap;
}

.fcIcon {
    aspect-ratio: 1/1;
}

.fcTitle {
    font-size: 14px;
    color: #d9d9d9;
}

.title {
    margin: 18px 0px 8px 18px;
    color: #d9d9d9;
}




.weekLunchCard {
    padding: 18px;

    border-radius: 18px;

    background-color: #101014;

    display: flex;
    flex-direction: column;
}

.lcCon { 
    padding: 2px 6px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.lcLongLine {
    width: 86%;
    border: 1px solid #20202c;
}

.lcShortLine {
    flex: 1;
    border: 1px solid #20202c;
}

#lcTitle {
    margin: 6px 6px 12px 6px;
    font-family: 'poppins-semibold';
    color: #d9d9d9;
    /* margin-bottom: 12px; */
}

#lcMsg {
    color: #d9d9d9;
    font-size: 14px;
    margin-bottom: 6px;
}

.lcContent {
    color: #d9d9d9;
    font-size: 14px;
}

.lcDay {
    font-family: 'poppins-medium';
    font-size: 14px;

    color: #d9d9d9;
}

.lcIcon {
    aspect-ratio: 1/1;
}

.lcVeg {
    padding: 2px 6px;
    margin-top: 8px;

    border-radius: 8px;

    background-color: #0F2218;
}