#contentFeed {
    grid-column: 2;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

.weekLunchCard {
    padding: 18px;

    border-radius: 18px;

    background-color: #101014;

    display: flex;
    flex-direction: column;
}

.lcCon { 
    padding: 2px 6px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.lcLongLine {
    width: 90%;
    border: 1px solid #20202c;
}

.lcShortLine {
    /* flex: 1; */
    width: 10%;
    border: 1px solid #20202c;
}

#lcTitle {
    margin: 6px 6px 12px 6px;
    font-family: 'poppins-semibold';
    color: #d9d9d9;
    /* margin-bottom: 12px; */
}

#lcMsg {
    margin: 0px 0px 6px 6px;
    font-size: 14px;
    color: #D7892A;
}

.lcContent {
    color: #d9d9d9;
    font-size: 14px;
}

.lcDay {
    min-width: max-content;

    font-family: 'poppins-medium';
    font-size: 14px;

    color: #d9d9d9;
}

.lcIcon {
    aspect-ratio: 1/1;
}

.lcVeg {
    padding: 2px 6px;
    margin-top: 8px;

    border-radius: 8px;

    background-color: #0F2218;
}