#class-select {
    width: max-content;
    padding: 8px 18px;
    border-radius: 18px;

    font-family: 'poppins-medium';
    font-size: 14px;

    color: #d9d9d9;
    background-color: #101014;
}




#feed {
    grid-column: 2;

    padding: 1.125rem 0rem;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

.weekCard {
    padding: 18px;

    border-radius: 18px;

    background-color: #101014;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.day {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dayCard {
    padding: 4px 12px;

    border-radius: 8px;

    background-color: #d9d9d9;

    /* display: flex;
    flex-wrap: wrap;
    column-gap: 18px; */

    display: grid;
    grid-template-columns: 40px 120px minmax(max-content, 1fr);
    grid-template-areas: 
        'room time course'
    ;
    column-gap: 8px;
}

.metaData {
    min-width: max-content;

    font-size: 14px;
    font-family: 'poppins-medium';

    color: #101014;
    /* text-align: center; */
}

.title {
    margin:0px 0px 4px 12px;
    font-size: 14px;
    font-family: 'poppins-semibold';
    color: #d9d9d9;
}

.course {
    grid-area: course;
}

.datetime {
    grid-area: time;
}

.room {
    grid-area: room;
}

@media screen and (max-width: 690px) {
    
    .dayCard {
        grid-template-columns: 1fr max-content;
        grid-template-areas: 
            'room time'
            'course course'
        ;
        row-gap: 4px;
    }

}