/* Main forum page & forum question page */
body  {
    display: grid;
    grid-template-columns: 1fr minmax(25rem , 55rem) 1fr;
    gap: var(--size_30);

    background-color: #17161B;
}

header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size_30);
}

footer {
    padding: var(--size_30);

    background-color: #101014;
}

/* Question Card Position */
.QCP1 {
    grid-column: 1;
    grid-row: 1;
}
.QCP2 {
    grid-column: 3;
    grid-row: 1;
}
.QCP2:hover {
    cursor: pointer;
}
.QCP3 {
    grid-column: 4;
    grid-row: 1;
}
.QCP4 {
    grid-column: 1 / span 4;
    grid-row: 2;
}
.QCP5 {
    grid-column: 1 / span 4;
    grid-row: 3;
}

.QCP6 {
    grid-column: 3;
    grid-row: 1;
}
.QCP7 {
    grid-column: 4;
    grid-row: 1;
}
.QCP7:hover {
    cursor: pointer;
}




/* Main Forum Page */
.forumCard {
    padding: var(--size_30);

    border-radius: var(--size_24);

    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
    gap: var(--size_30);

    background-color: #101014;
}

.contentFeed {
    display: grid;
    grid-template-rows: repeat( auto-fill , 1fr );
    gap: var(--size_30);
}

.corses {
    height: min-content;
    padding: 25px;

    border-radius: var(--size_24);

    display: flex;
    flex-direction: column;
    gap: var(--size_30);

    background-color: #101014;
}

.forumCard select {
    padding: 10px 15px;

    border: none;

    background-color: #202126;
}

.forumCard textarea {
    width: fill;
    resize: vertical;

    border: none;
    outline: none;

    font-size: var(--size_16);

    background-color: #101014;
}




/* Forum Question Page */
.answerFeed {
    width: 100%;

    display: grid;
    grid-template-columns: 100px repeat(3 , 1fr);
    grid-template-rows: repeat( auto-fill , max-content);
    gap: var(--size_30);
}




/* - - Main page - - */

/* Forum Position:Number */
.FP1 {
    grid-column: 2;
    grid-row: 2;
}

.FP2 {
    grid-column: 2;
    grid-row: 3;
}

.FP3 {
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
}

.FP4 {
    grid-column: 1 / span 3;
    grid-row: 4;
}


/* Ask A Question Card Position:Number */
.AQCP1 {
    grid-column: 1;
    grid-row: 1;
}

.AQCP2 {
    grid-column: 1 / span 4 ;
    grid-row: 2;
}

.AQCP3 {
    grid-column: 1 / span 4 ;
    grid-row: 3;
}




/* - - Question page - - */

/* Forum Position:Number */
.FP6 {
    grid-column: 2;
    grid-row: 3;
}
.FP7 {
    grid-column: 2;
    grid-row: 4;
}
.FP8 {
    grid-column: 2;
    grid-row: 5;
}
.FP9 {
    grid-column: 2;
    grid-row: 6;

    padding: 25px;
    background-color: #101014;
}
.FP10 {
    grid-column: 2;
    grid-row: 7;
}
.FP11 {
    grid-column: 1 / span 3;
    grid-row: 8;
}

/* Forum Question Position:Number */
.FQP1 {
    grid-column: 1 / span 4;
}

.FQP3 {
    grid-column: 2 / span 3;
}

/* Answer Question Position:Number */
.AQP1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.AQP2 {
    grid-column: 4;
    grid-row: 1;
}

/* Ask A Question Card Position */
.AAQP1 {
    grid-column: 4;
    grid-row: 4;
}