/* Both Forum Page */
body  {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;

    background-color: #17161B;

}

header {

    display: flex;
    flex-wrap: wrap;

}

footer {

    height: 250px;

    background-color: #101014;

}

.forumCard {

    padding: 25px;

    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
    gap: 25px;

    background-color: #101014;

}

/* Question Card Position */
.QCP1 {
    grid-column: 1;
    grid-row: 1;
}
.QCP2 {
    grid-column: 3;
    grid-row: 1;
}
.QCP3 {
    grid-column: 4;
    grid-row: 1;
}
.QCP4 {
    grid-column: 1 / span 4;
    grid-row: 2;
}
.QCP5 {
    grid-column: 1 / span 4;
    grid-row: 3;
}

.QCP6 {
    grid-column: 3;
    grid-row: 1;
}
.QCP7 {
    grid-column: 4;
    grid-row: 1;
}








/* Main Forum Page */
/* Forum Position */
.FP1 {
    grid-column: 2;
    grid-row: 2;
    gap: 25px;
}

.FP2 {
    grid-column: 2;
    grid-row: 3;
}

.FP3 {
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
}

.FP4 {
    grid-column: 1 / span 3;
    grid-row: 4;
}

/* Ask A Question Card Position */
.AQCP1 {
    grid-column: 1;
    grid-row: 1;
}

.AQCP2 {
    grid-column: 1 / span 4 ;
    grid-row: 2;
}

.AQCP3 {
    grid-column: 1 / span 4 ;
    grid-row: 3;
}

.contentFeed {

    display: grid;
    grid-template-rows: repeat( auto-fill , 1fr );
    gap: 25px;

}

.corses {

    height: min-content;
    padding: 25px;

    display: flex;
    flex-direction: column;
    gap: 25px;

    background-color: #101014;

}

.forumCard select {

    padding: 10px 15px;

    border: none;

    background-color: #202126;

}

.forumCard textarea {

    width: fill;
    padding: 25px;
    resize: vertical;

    border: none;
    outline: none;

    font-size: 14px;

    background-color: #202126;

}








/* Forum Question Page */
.answerFeed {

    width: 100%;

    display: grid;
    grid-template-columns: 100px repeat(3 , 1fr);
    grid-template-rows: repeat( auto-fill , max-content);
    gap: 25px;

}

.FP6 {
    grid-column: 2;
    grid-row: 3;
}
.FP7 {
    grid-column: 2;
    grid-row: 4;
}
.FP8 {
    grid-column: 2;
    grid-row: 5;
}
.FP9 {
    grid-column: 2;
    grid-row: 6;

    padding: 25px;
    background-color: #101014;
}
.FP10 {
    grid-column: 2;
    grid-row: 7;
}
.FP11 {
    grid-column: 1 / span 3;
    grid-row: 8;
}

.FQP1 {

    grid-column: 1 / span 4;

}

.FQP3 {

    grid-column: 2 / span 3;

}