header {
    display: grid;
    grid-template-columns: 1fr minmax( 12rem , 58rem ) 1fr;
    gap: 1.25rem;
}

.header1 {
    grid-column: 2;
    grid-row: 2;

    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.header2 {
    grid-column: 2;
    grid-row: 3;

    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}





.contentFeed {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
}




/* Ask a queston */

    /* Buttons */
    .aaqSelect {
        padding: 0.325rem 0.75rem;

        border-radius: 2rem;
        border: 0.125rem solid var(--mainColor_50);

        text-align: center;
        font-size: 0.75rem;
        font-family: 'poppins-semibold';

        color: var(--mainColor_50);
        background-color: var(--mainColor_95);

        /* stackoverflow */
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
    }
    .aaqSelect:hover {
        cursor: pointer;
    }

    .aaqPostButton {
        padding: 0.325rem 1.25rem;

        border-radius: 2rem;
        border: none;

        font-size: 0.75rem;
        font-family: 'poppins-semibold';

        color: var(--mainColor_95);
        background-color: var(--mainColor_50);
    }
    .aaqPostButton:hover {
        cursor: pointer;
    }

    /* Form */
    .askAQuestionForm {
        border-radius: 1.5rem;

        box-shadow: 0rem 0rem 0.5rem var(--mainColor_85);

        display: flex;
        flex-direction: column;
    }

    .aaqHeader {
        padding: 1rem 1.25rem;

        border-radius: 1.5rem 1.5rem 0rem 0rem;

        background-color: var(--mainColor_95);

        display: flex;
        align-items: center;
        gap: 1.25rem;
    }

    .aaqBody {
        padding: 0rem 1.25rem;

        display: flex;
        flex-direction: column;
    }

    .aaqInput {
        padding: 1.25rem 0rem 1.25rem 0rem;
        font-size: 0.875rem;

        color: var(--mainColor_10);
        outline: none;
    }

    #aaqTitle {
        flex-grow: 1;

        font-family: 'poppins-medium';
        color: var(--mainColor_50);
    }

    .aaqButton {
        padding: 0.75rem 1.25rem;

        border-radius: 3rem;

        font-size: 0.875rem;
        font-family: 'poppins-semibold';

        color: var(--mainColor_95);
        background-color: var(--mainColor_50);
    }




/* forumCard */
.fcHeader {
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr max-content;
    gap: 1rem;
}

.fcUsername {
    font-size: 0.875rem;
    color: var(--mainColor_50);
}

.fcInfoText {
    font-size: 0.75rem;
    color: var(--mainColor_50);
}

.fcTitleText {
    font-family: 'poppins-semibold';

    color: var(--mainColor_10);
}

.forumCard{
    padding: 1.25rem;

    border-radius: 1.5rem;

    box-shadow: 0rem 0rem 0.5rem var(--mainColor_85);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.meta {
    width: max-content;
    padding: 0.125rem 0.75rem;

    border-radius: 2rem;

    font-size: 0.75rem;
    font-family: 'poppins-medium';

    color: var(--mainColor_50);
    background-color: var(--mainColor_95);
}