@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
    --text: #FBFEFC;
    --text-secondary: #7B7B84;
    --background: #090A0B;
    --primary: #121316;
    --border: #25272D;
    --main-color: #4BFBA2;
    --secondary-color: #12261C;
    --accent-color: #56AE82;
}


* {
    margin: 0rem;
    padding: 0rem;

    border: none;
    outline: none;

    text-decoration: none;

    font-family: 'Poppins', sans-serif;
}


body {
    background-color: var(--background);

    height: 100svh;

    display: grid;
    grid-template-columns: minmax(8rem , 78.5rem);
    justify-content: center;
}


h1 {
    margin: 1.5rem 0rem;

    text-align: center;

    font-weight: 600;
    font-size: 1.25rem;

    color: var(--text);
}


nav {
    z-index: 1;
    bottom: 1.5rem;
    position: sticky;
    align-self: end;

    padding: 0.5rem;

    border-radius: 0.75rem;
    border: 1px solid var(--border);

    background-color: var(--primary);

    display: grid;
    grid-template-columns: 1fr max-content repeat( 2 , 1fr ) max-content 1fr;
    align-items: center;
    gap: 0.75rem;
}

.navLine {
    width: 1px;
    height: 60%;

    background-color: var(--main-color);
}

.navBtn {
    padding: 0.5rem 0.75rem;

    border-radius: 0.375rem;

    text-align: center;

    font-size: 0.875rem;

    color: var(--text);
}

.navBtn:hover {
    cursor: pointer;

    background-color: var(--border);
}


footer {
    grid-column: 2;

    padding: 36px;
    background-color: #101014;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.footerSection {
    width: max-content;
    margin: 72px 36px 36px 36px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.footerTitle {
    margin-bottom: 12px;

    font-family: 'poppins-bold';
    font-size: 18px;
    
    color: #666699;
}

.footerSubject {
    font-size: 15px;
    font-weight: 500;
    color: hsl(220 18% 85%);
}
.footerSubject:hover {
    text-decoration: underline;
}

#footerHero {
    width: 100%;
    margin: 36px 0px;
    font-family: 'poppins-italic';
    font-size: 14px;
    text-align: center;
    color: #666699;
}


@media screen and (min-width: 45rem) {
    nav {
        justify-self: center;
    }
}


@media screen and (max-width: 45rem) {

    nav {
        bottom: 0rem;
        position: sticky;

        border-radius: 0rem;
        border: none;
        border-top: 1px solid var(--border);

        gap: 0.375rem;
    }

    .navBtn {
        font-size: 0.75rem;
    }
}