@font-face {
    font-family: 'poppins';
    src: url(includes/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'poppins-medium';
    src: url(includes/fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'poppins-semibold';
    src: url(includes/fonts/poppins/Poppins-SemiBold.ttf);
}

body {
    background: linear-gradient(-45deg, rgba(57,45,105,1) 0%, rgba(181,123,238,1) 100%);

    display: grid;
    grid-template-columns: 1fr minmax( 320px , 1100px ) 1fr;
    gap: 18px;
}

* {
    margin: 0%;
    padding: 0%;
    border: none;
    text-decoration: none;
    font-family: 'poppins';
    letter-spacing: 0.25px;
}




/*Flex containers*/
.verticalCon {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.verticalWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.horizontalCon {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



/* template */

    /* PLACEMENT/BEHAVIOR */
    /* OWN PARAMETERS */
    /* CHILD PLACEMENT/BEHAVIOR */





.container {
    /* PLACEMENT/BEHAVIOR */
    grid-column: 1 /span 3;

    /* OWN PARAMETERS */
    background-color: #101014;

    /* CHILD PLACEMENT/BEHAVIOR */
    display: grid;
    grid-template-columns: 1fr minmax( 300px , 1325px) 1fr;
}



.mainNavCon {
    top: 0px;
    position: sticky;
}

nav {
    /* PLACEMENT/BEHAVIOR */
    grid-column: 2;

    /* OWN PARAMETERS */
    min-width: max-content;
    padding: 11px 18px;

    /* CHILD PLACEMENT/BEHAVIOR */
    display: flex;
    gap: 4px;
}



#navHomeBut {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    font-weight: 700;
    color: #d9d9d9;
    /* CHILD PLACEMENT/BEHAVIOR */
    display: flex;
    align-items: center;
    gap: 8px;
}
#navHomeBut:hover {
    cursor: pointer;
}



#navCon {
    /* PLACEMENT/BEHAVIOR */
    flex-grow: 1;

    /* OWN PARAMETERS */
    
    /* CHILD PLACEMENT/BEHAVIOR */
    display: flex;
    justify-content: flex-end;
    gap: 1px;
}

.navBut {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    padding: 2px 6px;
    border-radius: 20px;
    border: 1px solid #101014;
    color: #d9d9d9;
    background-color: #101014;

    /* CHILD PLACEMENT/BEHAVIOR */
    display: flex;
    align-items: center;
    gap: 6px;
}
.navBut:hover {
    background-color: #2d2d2d;
    border: 1px solid #6d6d6d;
}

.navIcon {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    margin: 6px;
    aspect-ratio: 1/1;
    width: 21px;

    /* CHILD PLACEMENT/BEHAVIOR */
        /* No childs */
}

.navText {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    margin-right: 8px;
    font-size: 14px;

    /* CHILD PLACEMENT/BEHAVIOR */
        /* No childs */
}

#navPfpBut {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */

    /* CHILD PLACEMENT/BEHAVIOR */
    display: flex;
    align-items: center;
}

#navPfp {
    /* PLACEMENT/BEHAVIOR */
        /* Gets it from parent */

    /* OWN PARAMETERS */
    outline: 1px solid #ffffff32;

    border-radius: 20px;
    aspect-ratio: 1/1;
    width: 38px;

    /* CHILD PLACEMENT/BEHAVIOR */
   
}



footer {
    grid-column: 2;

    padding: 36px;
    background-color: #101014;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footerSection {
    width: max-content;
    margin: 36px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footerTitle {
    margin-bottom: 12px;
    font-weight: 700;
    color: #B57BEE;
}

.footerSubject {
    font-size: 15px;
    font-weight: 500;
    color: hsl(220 18% 85%);
}
.footerSubject:hover {
    text-decoration: underline;
}

#footerHero {
    width: 100%;
    margin: 18px 0px 36px 0px;
    font-size: 13px;
    text-align: center;
    color: #6d6d6d;
}







@media screen and (max-width: 690px) {
    
    .navText {
        display: none;
    }

    .navBut {
        padding: 2px;
    }

    footer {
        flex-direction: column;
    }

}