body {
    background-color: var(--mC_dM_2);

    display: grid;
    grid-template-columns: 1fr minmax( 12rem , 58rem ) 1fr;
    grid-template-rows: min-content 1fr min-content 1.5fr;
    gap: 1.25rem; 
}




.gamesContentFeed {
    grid-column: 2;

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gamesCard {
    flex-grow: 1;

    padding: 24px;

    background-color: var(--mC_dM_1);
}